# Start with "docker-compose up -d" (docker-compose down for DOWN) OR
# mvn spring-boot:run -Pdocker-compose -Dspring-boot.run.profiles=docker-compose todo: would need maven plugin/profile
# docker-compose down -v  # VOLUMES LÖSCHEN – sonst bleibt das alte Password
# postgres server has to be stopped!
services:
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: postgresUser #$YOUR_USERNAME
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: postgresDb
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

#  redis:
#    image: redis:latest
#    ports:
#      - "6379:6379"
#    labels:
#      org.springframework.boot.service-connection: redis
